/*
	Global
*/
body {
	font-family: 'Nunito', sans-serif;
	font-size: 16px;
}

#logo {
	font-size: 30px;
}

.space-with-navbar {
	margin-top: 70px;
}

.space-with-above {
	margin-top: 20px;
	margin-bottom: 20px;
}

/*
	Slider
*/
.my-slider {
	-webkit-appearance: none;
	margin-top: 5px;
	margin-bottom: 5px;
	height: 10px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
	transition: opacity .2s;
}
.my-slider:hover {
    opacity: 1;
}
.my-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    background: #2fa4e7;
	cursor: pointer;
	border-radius: 20px;
}

/*
	Event items
*/
.event-item {
	margin-top: 20px;
}
.clickable:hover {
	cursor: pointer;
}
.event-thumbnail {
	width: 130px;
}
a.panel-heading {
	display: block;
	text-decoration: none;
}

#map {
	width: 100%;
	height: 600px;
}

/*
	Footer
*/
.footer {
    /* padding: 50px 0 20px 0; */
	/* background-color: #f2f9fe; */
	position: relative;
	bottom: 0;
	left: 0;
	width: 100%;
}

.footer .title{
	text-align: left;
	color:#000;
	font-size:25px;
}
.footer .social-icon{
	padding:0px;
	margin:0px;
}
.footer .social-icon a{
	display:inline-block;
	color:#000;
	font-size:25px;
	padding:5px;
}
.footer .acount-icon a{
	display:block;
	color:#000;
	font-size:18px;
	padding:5px;
	text-decoration:none;
}
.footer .acount-icon .fa{
	margin-right:25px;
}
.footer .category a {
    text-decoration: none;
    color: #000;
    display: inline-block;
    padding: 5px 20px;
    margin: 1px;
    border-radius:4px;
    margin-top: 6px;
    background-color: black;
    border: solid 1px #000;
}
.footer .payment{
	margin:0px;
	padding:0px;
	list-style-type:none
}
.footer .payment li{
	list-style-type:none
}
.footer .payment li a {
    text-decoration: none;
    display: inline-block;
    color: #000;
    float: left;
    font-size: 25px;
    padding: 10px 10px;
}

/*
	Filters Button
*/
#filters-button {
	border-radius: 50px;
	z-index: 5;
	position: fixed;
	width:70px;
	height:70px;
	bottom:40px;
	right:40px;
	box-shadow: 5px 5px 6px #999;
}

/*
	Logo
*/

#mainLogo {
	font-size: 500%; 
	font-family: 'Nunito', sans-serif;
	font-weight: bold;
	padding-top: 100px;
}

.jumbotron { 
    background-color: white; /* Orange */
    color: #2fa4e7;
}

/*
	Bug Fixing
*/
#takis {
	z-index: 0;
}

#main_content {
	margin-top: 50px;
}

@media screen and (max-width: 767px) {
	.modal-dialog {
		overflow-y: initial !important
	}
	.modal-body {
		height: 325px;
		overflow-y: auto;
	}
}

.blabla {
	padding-bottom: 180px;
}

/* #mainSearch {
	margin-bottom: 300px;
}

#completed_events {
	margin-bottom: 150px;
} */