
.parallax {
	/*background-image: url("http://via.placeholder.com/1024x1024");*/
	/* background-image: url("https://d3uf2ssic990td.cloudfront.net/images/5031/413b4a3e-5bf8-494b-bfda-ed9488ca3b0d/kids.jpg"); */

	height: 600px; 

	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

}

/* @media only screen and (max-device-width: 1024px) {
    .parallax {
        background-attachment: scroll;
    }
} */